<div class="container">
  <div class="row">
    <div class="col">
      <h1>Brand Detail</h1>
    </div>
  </div>
  <div class="row">
    <div class="col">
      Brand name: <%= @name %>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <a href="<%= url_for("/brands/index") %>">Back to brands list</a>
    </div>
  </div>
</div>